<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/app/calculator/stylesheet 1.css')}}">
    <meta charset="utf-8">
    <title>図形が出る電卓</title>
  </head>
  <body>
    <div class="header">
      <div class="header-logo">
        <p>図形が出る電卓</p>
      </div>
    </div>
    <div class="main">
      <div class="contents">
        <input type="button"value="電卓"onClick="location.href='./cal.html'">
        <input type="button"value="関数電卓"onClick="location.href='./func.html'">
      </div>
    </div>
      </div>
    </div>
  </body>
</html>
